<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <p> user name: <%= user.name %></p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
