<div>
  <div class="board-max-width">
    <div id="analysisBar" class="progress border">
      <div id="valueBarWhite" class="progress-bar bg-white text-dark" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">0</div>
      <div id="valueBarBlack" class="progress-bar bg-dark" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div>best move: <strong><span id="analysisNext" class=""></span></strong></div>
  </div>
  <div id="board1" class="board-max-width"></div>
  <div class="mt-1">
    <button type="button" class="btn" id="buttonBoardBigPrevious"><i class="fas fa-fast-backward"></i></button>
    <button type="button" class="btn" id="buttonBoardPrevious"><i class="fas fa-step-backward"></i></button>
    <span class="align-middle">#<span id="currentPositionNumber">1</span></span>
    <button type="button" class="btn" id="buttonBoardNext"><i class="fas fa-step-forward"></i></button>
    <button type="button" class="btn" id="buttonBoardBigNext"><i class="fas fa-fast-forward"></i></button>
    <button type="button" class="btn btn-outline-info" id="buttonBoardFlip">flip</button>
  </div>
  <div style="min-height: 100px;" class="border m-1 board-max-width">
    <div id="commentOnCurrentMove">
      <span class="text-muted">No comment on this move</span>
    </div>
  </div>
</div>