<% content_for :importmap_tag do %>
    <%= javascript_importmap_tags 'game/index' %>
<% end %>

<h1>Games</h1>

<%= render "table", games: @games %>

<% if logged_in? %>
<%= link_to "New game", new_game_path %>
<% end %>
