<% content_for :importmap_tag do %>
    <%= javascript_importmap_tags 'game/new' %>
<% end %>
<% content_for :additional_scripts do %>
  <%= stylesheet_link_tag "chessboard" %>
<% end %>
<div class="ms-1">
<h1>New game</h1>

<%= render "form", game: @game %>

<br>

<div>
  <%= link_to "Back to games", games_path %>
</div>

</div>