<% content_for :importmap_tag do %>
    <%= javascript_importmap_tags 'player/show' %>
<% end %>

<%= render @player %>

<%= link_to "Back to players", players_path %>

<hr>

<h2>Games</h2>
<%= render "games/table", games: @player.games %>